{% extends 'base_ajax.html.twig' %}
{% block body %}
<div class="container" ng-controller="myCtrl" ng-init="setAttempt({{ attempt }})">
    {% verbatim %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>NaOcene.pl - {{ quiz.name }}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="well" id="quiz-info">
                       <h1 class="text-center"><i id="spinner" class="fa fa-circle-o-notch fa-spin"></i></h1>
                       <h2 class="text-center">
                       <timer autostart="false" countdown="{% endverbatim %}{{ time }}{% verbatim %}" interval="1000">{{mminutes}} min {{sseconds}} s</timer></h2>
                    </div>

                </div>
                <div class="col-md-8">
                <div ng-show="bsAlert.msg" class="alert alert-warning ng-hide">
                  <strong>Uwaga !</strong> {{ bsAlert.msg }}
                </div>
                    <div class="well">
                        <img class="img-responsive" src="/{{ image }}" ng-show="checkImg()" />
                        <h3>{{ question }}</h3>
                        <form name="myForm">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="x in answers">
                                   <input type="radio" ng-model="user_answer.id" ng-value="{{x.id}}"> {{ x.answer }}
                                </li>
                            </ul>
                            <input type="submit" class='btn btn-default btn-block' value="Następne pytanie" ng-click="send(user_answer)" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
</div>
{% endblock %}