{% extends 'pupil_base.html.twig' %}
{#{% block heading %} TICZER - ADD PUPIL (CHYBA){% endblock %}#}
{% block body %}
{#<div class="panel">#}
    {#<div class="panel-body">#}
        <div class="well col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                {% for m in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success text-center">
                        {{ m }}
                    </div>
                {% endfor %}
                <div class="panel-heading text-center"><b>{{ grade.name }}</b> - Register Pupil</div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, {'attr':{'placeholder':'email', 'class':'text-center'}}) }}
                    </div>
                    <div class="form-group">
                             {{ form_errors(form.username) }}
                            {{ form_widget(form.username, {'attr':{'placeholder':'username', 'class':'text-center'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.firstname) }}
                        {{ form_widget(form.firstname, {'attr':{'placeholder':'name', 'class':'text-center'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.lastname) }}
                        {{ form_widget(form.lastname, {'attr':{'placeholder':'surname', 'class':'text-center'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.plainPassword) }}
                        {{ form_widget(form.plainPassword, {'attr':{'placeholder':'password', 'class':'text-center'}}) }}
                    </div>
                    <input type="submit" class="btn btn-default btn-block" value="Register" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {#</div>#}
{#</div>#}
{% endblock %}