{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>#}
    <script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <script src="{{ asset('js/module.js') }}"></script>
    <script src="{{ asset('js/pupils.js') }}"></script>
    <script src="{{ asset('js/teacher_attempt.js') }}"></script>

    {% endblock %}
{% block body %}
    <div class="container" ng-app="teacher">
        {% set route = app.request.attributes.get('_route') %}
        <ol class="breadcrumb well">
            {% if route=="teacher_index" %}
            <li class="active">Panel Nauczyciela</li>
            {% else %}
            <li><a href="{{ path('teacher_index') }}">Panel Nauczyciela</a></li>
            {% endif %}
            {% if route=="teacher_grade_register" %}
                <li class="active">Rejestracja klasy</li>
            {% endif %}
            {% if route=="teacher_session_view" %}
                <li class="active">Podgląd sesji</li>
            {% endif %}
            {% if route=="teacher_view_stats" %}
                <li>Podgląd sesji</li>
                <li class="active">Statystyki sesji</li>
            {% endif %}
        </ol>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                            {% block sidebar %}
                                {% render(controller('AppBundle:Teacher:teacherSidebar')) %}
                            {% endblock %}
                    </div>
                    <div class="col-md-8">
                            <div class="panel panel-default panel-own">
                                <div class="panel-heading">
                                    {% block heading %}{% endblock %}
                                </div>
                                <div class="panel-body">
                                    {% block content %}
                                    {% endblock %}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#{% block javascripts %}{{ parent() }}#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>#}
    {#<script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>#}
    {#<script src="{{ asset('js/attempt.js') }}"></script>#}
    {#<script src="{{ asset('js/module.js') }}"></script>#}
    {#<script src="{{ asset('js/attempt.js') }}"></script>#}
{#{% endblock %}#}