{#<table class="table table-hover table-stripped">#}
    {#<tr>#}
        {#<th>Pytanie</th>#}
        {#<th>Odpowiedź</th>#}
        {#<th>Poprawna</th>#}
        {#<th>PKT</th>#}
    {#</tr>#}
    {#{% for user_answer in user_answers %}#}
        {#<tr>#}
            {#<td>{{ user_answer.answer.question.question }}</td>#}
            {#{% if user_answer.answer.points != 0 %}#}
                {#<td class="text-success">{{ user_answer.answer.answer }}</td>#}
                {#<td class="text-success"><i class="fa fa-check-square-o"></i></td>#}
                {#<td class="text-success">{{ user_answer.answer.points }}</td>#}
            {#{% else %}#}
                {#<td class="text-danger">{{ user_answer.answer.answer }}</td>#}
                {#<td class="text-danger"><i class="fa fa-minus-square-o"></i></td>#}
                {#<td class="text-danger">{{ user_answer.answer.points }}</td>#}
            {#{% endif %}#}
        {#<tr>#}
        {#{% for answer in answers %}#}
            {#{% if answer.question.id == user_answer.answer.question.id %}#}
                {#<tr>#}
                    {#<td></td>#}
                    {#<td>{{ answer.answer }}</td>#}
                    {#<td></td>#}
                    {#<td>{{ answer.points }}</td>#}
                {#</tr>#}
            {#{% endif %}#}
        {#{% endfor %}#}
        {#</tr>#}
        {#</tr>#}
    {#{% endfor %}#}
    {#<tr class="info">#}
        {#<th colspan="2">Wynik</th>#}
        {#<th>{{ result.points}}/{{ result.maxpoints }} pkt</th>#}
        {#<th>{{ result.points/result.maxpoints*100 }}%</th>#}
    {#</tr>#}
{#</table>#}
<div class="row" ng-app="myApp" ng-controller="attempt" ng-init="setAttempt({{ attempt.id }})">
    <div class="col-md-12" ng-if="result != null">
        {#<div class="alert alert-info">Result: {{ result }} / {{ result.maxpoints  }}</div>#}
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Questions</div>
            <div class="panel-body panel-own">
                <ul class="list-group list-group-own">
                    <li ng-repeat="user_answer in user_answers" ng-click="getQuestion(user_answer.answer.question)" class="list-group-item"><i class="fa fa-check-square-o" ng-if="user_answer.answer.points > 0"></i> <i class="fa fa-minus-square-o" ng-if="user_answer.answer.points == 0"></i> {{ '{{ user_answer.answer.question.question | limitTo:40 }}{{ user_answer.answer.question.question.length > 40 ? "..." : "" }}' }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{ '{{ question.question.question }}' }}</div>
            <div class="panel-body panel-own">
                <div class="alert alert-info alert-own" ng-if="!question">Choose a question from the list</div>
                <ul class="list-group list-group-own" ng-if="question">
                    {#<img ng-repeat="image in question_image"  ng-if="image.question.id == question.question.id" ng-src="/image.path" class="img-responsive" />#}
                    <div ng-repeat="answer in answers" ng-if="question.question.id == answer.question.id">
                        <li class="list-group-item list-group-item-success" ng-if="question.answer == answer.answer && answer.points > 0">{{ '{{ answer.answer }}' }}</li>
                        <li class="list-group-item list-group-item-danger" ng-if="question.answer == answer.answer && answer.points == 0">{{ '{{ answer.answer }}' }}</li>
                        <li class="list-group-item list-group-item-success" ng-if="question.answer != answer.answer && answer.points > 0">{{ '{{ answer.answer }}' }}</li>
                        <li class="list-group-item" ng-if="question.answer != answer.answer && answer.points == 0">{{ '{{ answer.answer }}' }}</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>