<div class="row" ng-app="myApp" ng-controller="attempt" ng-init="setAttempt({{ attempt.id }})">
    <div class="col-md-12" ng-if="result != null">
        {#<div class="alert alert-info">Result: {{ result }} / {{ result.maxpoints  }}</div>#}
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Questions</div>
            <div class="panel-body panel-own">
                <ul class="list-group list-group-own">

                    <li ng-repeat="user_answer in user_answers" ng-click="getQuestion(user_answer.answer.question)" class="list-group-item"><i class="fa fa-check-square-o" ng-if="user_answer.answer.points > 0"></i> <i class="fa fa-minus-square-o" ng-if="user_answer.answer.points == 0"></i> {{ '{{ user_answer.answer.question.question | limitTo:40 }}{{ user_answer.answer.question.question.length > 40 ? "..." : "" }}' }}</li>

                    <li ng-repeat="user_answer in user_answers" ng-click="getQuestion(user_answer.answer.question.id)" class="list-group-item">
                        <i class="fa fa-check" ng-if="user_answer.answer.points > 0"></i>
                        <i class="fa fa-times" ng-if="user_answer.answer.points == 0"></i>
                        {{ '{{ user_answer.answer.question.question | limitTo:40 }}{{ user_answer.answer.question.question.length > 40 ? "..." : "" }}' }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{ '{{ question.question }}' }}</div>
            <div class="panel-body panel-own">
                <div class="alert alert-info alert-own" ng-if="!question">Choose a question from the list</div>
                <ul class="list-group list-group-own" ng-if="question">
                    <img src="/{{ '{{ image }}' }}" class="img-responsive" alt="img" ng-if="image != null"/>
                    <div ng-repeat="answer in answers" >
                        <li class="list-group-item list-group-item-success" ng-if="question.answer == answer.answer && answer.points > 0">{{ '{{ answer.answer }}' }}</li>
                        <li class="list-group-item list-group-item-danger" ng-if="question.answer == answer.answer && answer.points == 0">{{ '{{ answer.answer }}' }}</li>
                        <li class="list-group-item list-group-item-success" ng-if="question.answer != answer.answer && answer.points > 0">{{ '{{ answer.answer }}' }}</li>
                        <li class="list-group-item" ng-if="question.answer != answer.answer && answer.points == 0">{{ '{{ answer.answer }}' }}</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>