
{% extends 'teacher_base.html.twig' %}
{% block heading %}
    Wszystkie sesje
{% endblock %}
{% block content %}
    <table class="table table-stripped table-hover">
        <tr>
            <th>Quiz</th>
            <th>Start</th>
            <th>End</th>
            <th>MORE</th>
        </tr>
        {% for session in sessions %}
            <tr {% if session.end is null %}class="alert-info"{% endif %}>
                <td>{{ session.quiz.name }}</td>
                <td>{{ session.started|date('Y-m-d H:i:s') }}</td>
                {% if  session.end is null %}
                    <td>{{ session.time }}</td>
                {% else %}
                    <td>{{ session.end|date('Y-m-d H:i:s') }}</td>
                {% endif %}
                <td><a href="{{ path('teacher_session_view', {'session':session.id}) }}"><i class="fa fa-binoculars"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
