{% extends 'teacher_base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    {% endblock %}
{% block heading %}
    Sesja sprawdzianu <b>{{ session.quiz.name }}</b>
{% endblock %}
{% block content %}
    {% for m in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">{{ m }}</div>
    {% endfor %}
    <div class="row text-center well">
        <a href="{{ url('ajax_start', {'quizsession': session.id}) }}">{{ url('ajax_start', {'quizsession': session.id}) }}</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            {#<b>Rozpoczęta:</b> {{ session.started|date('Y-m-d H:i:s') }}#}
        </div>
        <div class="col-md-6 text-center">
            <b>Limit czasu:</b> {{ session.time }}min.
                {% if session.end == null %}
                    <a href="{{ path('teacher_session_end',{'session':session.id}) }}" class="btn btn-primary btn-block">Zakończ sesję</a>
                {% else %}
                    Finished: {{ session.end|date('Y-m-d H:i:s') }}
                {% endif %}
        </div>
    </div>

    <div ng-controller="pupils" ng-init="setSession({{ session.id }})">
        <h2 class="text-center" ng-if="!pupilsLoggedEmpty()">W trakcie rozwiązywania</h2>
        <div class="row text-center">
            <div ng-repeat="pupil in pupils_logged">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="col-sm-4 well">
                    <h2>{{ '{{ pupil.user.username }}' }}</h2>
                    Thinks about {{ '{{ pupil.answered+1 }}' }}. question.
                    <button type="button" class="fa  fa-search" data-toggle="modal" data-target="#myModal" ng-click="getAttemptView(result.attempt.id, result.attempt.user.username)"> Podgląd</button>
                </div>
            </div>
        </div>

        <h2 class="text-center" ng-if="!pupilsEndedEmpty()">Finished</h2>
        <div class="row text-center">
            <div ng-repeat="result in pupils_ended">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="col-xs-4 well">
                    <h2>{{ '{{ result.attempt.user.username }}' }}</h2>
                    <h3>{{ '{{ (result.points/'~ session.quiz.maxPoints ~ '*100)|number:2 }}' }} % </h3>
                    Points: {{ '{{ result.points }}' }} / {{ session.quiz.maxpoints }}
                    <button type="button" class="fa  fa-search" data-toggle="modal" data-target="#myModal" ng-click="getAttemptView(result.attempt.id, result.attempt.user.username)"> Podgląd</button>
                </div>
            </div>

    </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ '{{ modal_username }}' }}</h4>
                    </div>
                    {#<div class="modal-body" ng-bind-html="modal_content">#}
                        {#{{ '{{ modal_content }}' }}#}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" ng-if="result">
                                <div class="alert alert-info">Wynik: {{ '{{ result.points }}' }} / {{ '{{ result.maxPoints }}'  }}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Questions</div>
                                    <div class="panel-body panel-own">
                                        <ul class="list-group list-group-own pytania">

                                            {#<li ng-repeat="user_answer in user_answers" ng-click="getQuestion(user_answer.answer.question)" class="list-group-item"><i class="fa fa-check-square-o" ng-if="user_answer.answer.points > 0"></i> <i class="fa fa-minus-square-o" ng-if="user_answer.answer.points == 0"></i> {{ '{{ user_answer.answer.question.question | limitTo:40 }}{{ user_answer.answer.question.question.length > 40 ? "..." : "" }}' }}</li>#}
                                            {#<li ng-repeat="user_answer in user_answers" ng-click="getQuestion(user_answer.answer.question.id)" ng-if="user_answer.answer.question.id == question.id"  class="list-group-item list-group-item-info">#}
                                            {#<li ng-repeat="user_answer in user_answers" ng-click="getQuestion(user_answer.answer.question.id)" ng-if="user_answer.answer.question.id != question.id" class="list-group-item">#}
                                            <div  ng-repeat="user_answer in user_answers">
                                                <li ng-click="getQuestion(user_answer.answer.question.id)" ng-if="user_answer.answer.question.id != question.id" class="list-group-item">
                                                    <i class="fa fa-check" ng-if="user_answer.answer.points > 0"></i>
                                                    <i class="fa fa-times" ng-if="user_answer.answer.points == 0"></i>
                                                    {{ '{{ user_answer.answer.question.question | limitTo:40 }}{{ user_answer.answer.question.question.length > 40 ? "..." : "" }}' }}</li>
                                                <li ng-click="getQuestion(user_answer.answer.question.id)" ng-if="user_answer.answer.question.id == question.id" class="list-group-item active">
                                                    <i class="fa fa-check" ng-if="user_answer.answer.points > 0"></i>
                                                    <i class="fa fa-times" ng-if="user_answer.answer.points == 0"></i>
                                                    {{ '{{ user_answer.answer.question.question | limitTo:40 }}{{ user_answer.answer.question.question.length > 40 ? "..." : "" }}' }}</li>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{ '{{ question.question }}' }}</div>
                                    <div class="panel-body panel-own">
                                        <div class="alert alert-info alert-own" ng-if="!question">Choose a question from the list</div>
                                        <ul class="list-group list-group-own" ng-if="question">
                                            <img src="/{{ '{{ image }}' }}" class="img-responsive" alt="img" ng-if="image != null"/>
                                            <div ng-repeat="answer in answers">
                                                <div ng-repeat="user in user_answers">
                                                    <div ng-if="answer.question.id == user.answer.question.id">
                                                        <li class="list-group-item list-group-item-success" ng-if="answer.id == user.answer.id && user.answer.points > 0" >{{ '{{ answer.answer }}' }}</li>
                                                        <li class="list-group-item list-group-item-danger" ng-if="answer.id == user.answer.id && user.answer.points == 0">{{ '{{ answer.answer }}' }}</li>
                                                        <li class="list-group-item list-group-item-success" ng-if="answer.id != user.answer.id && answer.points > 0">{{ '{{ answer.answer }}' }}</li>
                                                        <li class="list-group-item" ng-if="answer.id != user.answer.id && answer.points == 0">{{ '{{ answer.answer }}' }}</li>
                                                    </div>
                                                    {#<div ng-if="answer != user.answer">#}
                                                    {#<li class="list-group-item">{{ '{{ answer.answer }}' }}</li>#}
                                                    {#</div>#}
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->

    <!-- Modal -->

{% endblock %}
{% block javascripts %}{{ parent() }}
    <script src="{{ asset('js/pupils.js') }}"></script>

{% endblock %}