{% extends 'teacher_base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    {% endblock %}
{% block heading %}
    Sesja sprawdzianu <b>{{ session.quiz.name }}</b>
{% endblock %}
{% block content %}
    {% for m in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">{{ m }}</div>
    {% endfor %}
    <div class="row text-center well">
        <a href="http://localhost:8000/ajax/quiz/{{ session.id }}">http://localhost:8000/ajax/quiz/{{ session.id }}</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            {#<b>Rozpoczęta:</b> {{ session.started|date('Y-m-d H:i:s') }}#}
        </div>
        <div class="col-md-6 text-center">
            <b>Limit czasu:</b> {{ session.time }}min.
                {% if session.end == null %}
                    <a href="{{ path('teacher_session_end',{'session':session.id}) }}" class="btn btn-primary btn-block">Zakończ sesję</a>
                {% else %}
                    Zakończona: {{ session.end|date('Y-m-d H:i:s') }}
                {% endif %}
        </div>
    </div>

    <div ng-controller="pupils" ng-init="setSession({{ session.id }})">
        <h2 class="text-center" ng-if="!pupilsLoggedEmpty()">W trakcie rozwiązywania</h2>
        <div class="row text-center">
            <div ng-repeat="pupil in pupils_logged">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="col-sm-4 well">
                    <h2>{{ '{{ pupil.user.username }}' }}</h2>
                    Myśli nad {{ '{{ pupil.answered+1 }}' }}. pytaniem
                </div>
            </div>
        </div>

        <h2 class="text-center" ng-if="!pupilsEndedEmpty()">Zakończone</h2>
        <div class="row text-center">
            <div ng-repeat="result in pupils_ended">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="col-sm-4 well">
                    <h2>{{ '{{ result.attempt.user.username }}' }}</h2>
                    <h3>{{ '{{ result.points/'~ session.quiz.maxPoints ~ '*100 }}' }} % </h3>
                    Punkty: {{ '{{ result.points }}' }} / {{ session.quiz.maxpoints }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{{ parent() }}

{% endblock %}