{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      Testy
    </div>
    <div class="panel-body">
      <table class="table table-stripped table-hover table-condensed">
        <tr>
          <th>ID</th>
          <th>Nazwa quizu</th>
          <th>Edytuj</th>
          <th>Rozwiąż</th>
        </tr>
        {% for exam in quizes %}
        <tr>
          <td>{{ exam.id }}</td>
          <td>{{ exam.name }}</td>
          <td><a href="{{ path('editQuiz', {'id':exam.id}) }}">Edytuj</a></td>
          <td><a href="{{ path('start_quiz', {'quiz':exam.id}) }}">Rozwiąż</a></td>
        </tr>
        {% endfor %}
      </table>
      <form class="form"method="POST">
        <div class="row">
          <div class="col-md-2">
            <h4 class="text-center">Nowy quiz</h4>
          </div>
          <div class="col-md-6">
            {{ form_widget(add_quiz.name, { 'attr': {'placeholder': 'nazwa', 'class':'form-control'} }) }}
            {% if form_errors(add_quiz.name) %}
              <div class="alert alert-danger">{{ form_errors(add_quiz.name) }}</div>
            {% endif %}
          </div>
          <div class="col-md-4">

            {#{{ form_widget(add_quiz) }}#}
            {{ form_widget(add_quiz.save, { 'attr': {'class':'btn btn-default btn-block'} }) }}
            {{ form_widget(add_quiz._token) }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}