{% extends 'base.html.twig' %}
{% block body %}
  <script>
    $(document).ready(function(){
      var check;
      $("#answer_points").val(0);
      $("#checkbox").on("click", function(){
        check = $("#checkbox").prop("checked");
        if(check) {
//          $('#hidden').fadeIn('fast');
          $('#answer_points').val(1);
        } else {
//          $('#hidden').fadeOut('fast');
          $('#answer_points').val(0);
        }
      });
    });
  </script>
<div class="container">
  <ol class="breadcrumb well">
    <li><a href="{{ path('teacher_index') }}">Panel Nauczyciela</a></li>
    <li><a href="{{ path('editQuiz', {'id':quiz.id}) }}">Edycja sprawdzianu</a></li>
    <li class="active">Edycja pytania</li>
  </ol>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="well well-own">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title text-center">{{ quiz.name }}</h3>
              </div>
              <div class="panel-body panel-own">
                <ul class="nav nav-pills nav-stacked">
                  {% for q in questions %}
                    <li {% if q.id == question.id %} class="active" {% endif %}><a href="{{ path('editQuestion', {'question':q.id}) }}">{{ q.shortname }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title text-center">Add question</h3>
              </div>
              <div class="panel-body panel-own">
                {{ form_start(add_question) }}
                {{ form_widget(add_question.question, { 'attr': {'class':'form-control', 'placeholder':'new question'} }) }}
                {{ form_widget(add_question.save, { 'attr': {'class':'btn btn-default btn-block'} }) }}
                {{ form_widget(add_question._token) }}
                {{ form_end(add_question) }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="well well-own">
            <h2>
              <a href="{{ path('removeQuestion',{'question':question.id}) }}">
                <i class="fa fa-remove"></i>
                <a href="{{ path('editQuestionName',{'question':question.id}) }}">
                  <i class="fa fa-pencil"></i></a>
              </a>{{ question.question }}
              <a class="btn btn-default btn-sm pull-right" data-toggle="collapse" data-target="#addimg">
                Dodaj zdjęcie</a>
            </h2>
            {% if image %}
            <img class="img-responsive" src="/{{ image }}" alt="img" />
            {% endif %}
            {{ form_start(add_image) }}

                <div class="col-md-6 collapse pull-right alert alert-success" id="addimg">
                {{ form_widget(add_image.file) }}
                <input type="submit" class="btn btn-block btn-primary btn-sm" value="Wyślij" />
                </div>

            {{ form_end(add_image) }}
            <table class="table table-stripped table-condensed table-hover">
              <thead>
                <tr>
                  <th>Odpowiedź</th>
                  <th>Poprawna</th>
                  <th>Edytuj</th>
                  <th>Usuń</th>
                </tr>
              </thead>
              <tbody>
                {% for answer in answers %}
                <tr>
                  <td>{{ answer.answer }}</td>
                  <td>{% if answer.points>0 %}<i class="fa fa-check"></i> {{ answer.points }} pkt.{% endif %}</td>
                  <td><a href="{{ path('editAnswer', {'answer':answer.id}) }}"><i class="fa fa-pencil"></i></a></td>
                  <td><a href="{{ path('removeAnswer', {'answer':answer.id}) }}"><i class="fa fa-remove"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% for m in app.session.flashbag.get('notice') %}
              <div class="alert alert-danger">{{ m }}</div>
            {% endfor %}
            <div class="row">
              {{ form_start(add_answer) }}
              <div class="col-md-6">
                {{ form_widget(add_answer.answer, { 'attr': {'class':'form-control', 'placeholder':'new answer'} }) }}
              </div>
              <div class="col-md-1">
                <i class="fa fa-check"></i> <input type="checkbox" id="checkbox">
              </div>
              <div class="col-md-2" id="hidden" style="display:none">
                {{ form_widget(add_answer.points, { 'attr': {'class':'form-control', 'placeholder':'points'} }) }}
              </div>
              <div class="col-md-3">
                {{ form_widget(add_answer.save, { 'attr': {'class':'btn btn-default btn-block'} }) }}
                {{ form_widget(add_answer._token) }}
              </div>
              {{ form_end(add_answer) }}


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}