{% extends 'base.html.twig' %}
{% block body %}
{#<div class="container">#}
  {#<div class="panel panel-primary">#}
    {#<div class="panel-heading">#}
      {#<h1 class="text-center">{{ quiz.name }}</h1>#}
    {#</div>#}
    {#<div class="panel-body">#}
        {#<table class="table table-stripped table-hover table-condensed">#}
          {#<thead>#}
            {#<tr>#}
              {#<th>#</th>#}
              {#<th>Pytanie</th>#}
              {#<th>Odpowiedź</th>#}
              {#<th>Edytuj</th>#}
            {#</tr>#}
          {#</thead>#}
          {#<tbody>#}
          {#{% for question in questions %}#}
            {#<tr>#}
              {#<td>{{ question.id }}</td>#}
              {#<td>{{ question.question }}</td>#}
              {#<td>to do </td>#}
              {#<td><a href="{{ path('editQuestion', {'question':question.id}) }}">EDIT</a></td>#}
              {#<td>{{ question.correcttext }}</td>#}
            {#</tr>#}
          {#{% endfor %}#}
          {#</tbody>#}
        {#</table>#}
        {#<form class="form" method="POST">#}
          {#<div class="row">#}
            {#<div class="col-md-2">#}
              {#<h4>Nowe pytanie:</h4>#}
            {#</div>#}
            {#<div class="col-md-6">#}
              {#{{ form_widget(add_question.name, { 'attr': {'placeholder': 'nazwa', 'class':'form-control'} }) }}#}
              {#{{ form_widget(add_question.question, {'attr': {'placeholder':'nazwa', 'class':'form-control'} }) }}#}
              {#{% if form_errors(add_question.question) %}#}
                {#<div class="alert alert-danger">{{ form_errors(add_question.question) }}</div>#}
              {#{% endif %}#}
            {#</div>#}
            {#<div class="col-md-4">#}
              {#{{ form_widget(add_question.save, { 'attr': {'class':'btn btn-primary btn-block'} }) }}#}
              {#{{ form_widget(add_question._token) }}#}
            {#</div>#}
          {#</div>#}
        {#</form>#}
    {#</div>#}
  {#</div>#}
{#</div>#}
{#{{ form(add_question) }}#}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h2 class="panel-title">TUTAJ JAKIEŚ COŚ</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="well well-own">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">{{ quiz.name }}</h3>
                </div>
                <div class="panel-body panel-own">
                  <ul class="nav nav-pills nav-stacked">
                    {% for q in questions %}
                      <li><a href="{{ path('editQuestion', {'question':q.id}) }}">{{ q.shortname }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">Add question</h3>
                </div>
                <div class="panel-body panel-own">
                  {{ form_start(add_question) }}
                  {{ form_widget(add_question.question, { 'attr': {'class':'form-control', 'placeholder':'new question'} }) }}
                  {{ form_widget(add_question.save, { 'attr': {'class':'btn btn-default btn-block'} }) }}
                  {{ form_widget(add_question._token) }}
                  {{ form_end(add_question) }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="well well-own">
              <h2>{{ quiz.name }}</h2>
              <p>select question to edit answers or add a one</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}