{% extends 'base.html.twig' %}
{% block body %}
  <div class="container">
    <ol class="breadcrumb well">
      <li><a href="{{ path('teacher_index') }}">Panel Nauczyciela</a></li>
      <li class="active">Edycja sprawdzianu</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="well well-own">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">{{ quiz.name }}</h3>
                </div>
                <div class="panel-body panel-own">
                  <ul class="nav nav-pills nav-stacked">
                    {% for q in questions %}
                      <li><a href="{{ path('editQuestion', {'question':q.id}) }}">{{ q.shortname }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">Dodaj pytanie</h3>
                </div>
                <div class="panel-body panel-own">
                  {{ form_start(add_question) }}
                  {{ form_widget(add_question.question, { 'attr': {'class':'form-control', 'placeholder':'Nowe pytanie'} }) }}
                  {{ form_widget(add_question.save, { 'attr': {'class':'btn btn-default btn-block'} }) }}
                  {{ form_widget(add_question._token) }}
                  {{ form_end(add_question) }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="well well-own">
              <h2>{{ quiz.name }}</h2>
              <p>Wybierz pytanie, aby edytować lub dodaj nowe.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}