{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            PANEL TICZERA
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="well well-own">
                        <div class="panel panel-default panel-own">
                            <div class="panel-heading">
                                My quizes
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    {#{% for quiz in quizes %}#}
                                        {#<li><a href="{{ path('editQuiz', {'id': quiz.id}) }}">{{ quiz.name }}</a></li>#}
                                    {#{% endfor %}#}
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default panel-own">
                            <div class="panel-heading">
                                My classess
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    {#{% for class in classess %}#}
                                        {#<li><a href="">{{ class.name }}</a></li>#}
                                    {#{% endfor %}#}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="well well-own">
                        <div class="panel panel-default panel-own">
                            <div class="panel-body">
                                Udostępnij quiz <b>{{ quiz.name }}</b><br />
                                Ile czasu po rozpoczęciu sesji zakończyć możliwość dołączania do niej?
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <input type="submit" />
                                {{ form_end(form) }}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}