<div class="well well-sm well-own text-center">
    <h3>{{ user.firstname }} {{ user.lastname }}</h3>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Moje sprawdziany
    </div>
    <div class="panel-body panel-own">
        <ul class="list-group list-group-own">
            {% for quiz in quizes %}
                <a class="list-group-item list" href="{{ path('editQuiz', {'id': quiz.id}) }}">{{ quiz.name }}</a>
            {% endfor %}
            <a class="list-group-item text-center" href="{{ path('new_quiz') }}"><i class="fa fa-plus"></i></a>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Moje klasy
    </div>
    <div class="panel-body panel-own">
        <ul class="list-group list-group-own">
            {% for class in classes %}
                <a class="list-group-item list" href="{{ path('teacher_grade_register', {'grade':class.id}) }}">{{ class.name }}</a>
            {% endfor %}
            <a class="list-group-item text-center" href="{{ path('teacher_grade_new') }}"><i class="fa fa-plus"></i></a>
        </ul>
    </div>
</div>
{#<div class="panel panel-default">#}
    {#<div class="panel-heading">#}
        {#Sessions#}
    {#</div>#}
    {#<div class="panel-body panel-own">#}
        {#<ul class="list-group list-group-own">#}
            {#<a class="list-group-item" href="{{ path('teacher_index') }}">Active</a>#}
            {#<a class="list-group-item" href="{{ path('teacher_session_all') }}">All</a>#}
        {#</ul>#}
    {#</div>#}
{#</div>#}