<div class="panel panel-default panel-own">
    <div class="panel-heading">
        My quizes
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            {% for quiz in quizes %}
                <li><a href="{{ path('editQuiz', {'id': quiz.id}) }}">{{ quiz.name }}</a></li>
            {% endfor %}
        </ul>
        <a class="btn btn-default btn-block" href="{{ path('all_quizes') }}"><i class="fa fa-plus"></i></a>
    </div>
</div>
<div class="panel panel-default panel-own">
    <div class="panel-heading">
        My classes
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            {% for class in classes %}
                <li><a href="{{ path('teacher_grade_register', {'grade':class.id}) }}">{{ class.name }}</a></li>
            {% endfor %}
        </ul>
        <a class="btn btn-default btn-block" href="{{ path('teacher_grade_new') }}"><i class="fa fa-plus"></i></a>
    </div>
</div>