{% extends 'base.html.twig' %}
{% block body %}

<div class="table-responsive">
<h1 class="text-center">{{ exam.name }}</h1>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Pytanie</th>
        <td>Odpowiedź</td>
      </tr>
    </thead>
    <tbody>
    {% for question in questions %}
      <tr>
      	<td>{{ question.id }}</td>
        <td>{{ question.question }}</td>
        {#<td>{{ question.correcttext }}</td>#}
        <td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{{ form(add_question) }}
{% endblock %}